<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>'website of ದೇವ್ರು'</title>
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    
    <h1 style="color:aliceblue">ಅನಂತನ ಆಲಯ</h1>
    <h4 style="color:aliceblue",>ನಾ ಕೃಷ್ಣ , ನೀ ಎನ್ನ ಕಣ </h4>

    <h2 style="color:aliceblue">ಕೃಷ್ಣನೊಡನೆ ಸಂವಹನ ನಡೆಸಲು ಕೆಳಗಿನ ಗುಂಡಿ ಒತ್ತಿ</h2>
    

    <form action="/Krishna">
        <input type="submit" id="Krishna" title="ಗೋವಿಂದ" name="Krishna" action="/Krishna" value="Go Win ದ">
       </form>
       
</body>

</html>
   