<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>'website of ದೇವ್ರು'</title>
    <link rel="stylesheet" href="{{url_for('static',filename='ind10.css')}}">
    <link rel="C:\Users\navee\OneDrive\Desktop\game\templates">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    
    <h1>ನನ್ನನ್ನು ನೋಡುವ ಬಯಕೆ ಇದೆಯೇ,ಹಾಗಿದ್ದಲ್ಲಿ ಶರಣಾಗು </h1>
   
        <div class="container">
            
    <form action="/Krishna4">
        <input type="submit" id="Krishna"  name="Krishna" action="/Krishna4" value="ಶರಣಾಗು">
       </form>
    </div>
    <h2>ಇಲ್ಲವಾದಲ್ಲಿ </h2>
    <form action="/">
        <input type="submit" id="Krishna"  name="Krishna" action="/" value="ಹಿಂದಿರಿಗಿ">
       </form>
    
    
       
</body>

</html>
   