<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>'website of ದೇವ್ರು'</title>
    <link rel="stylesheet" href="{{url_for('static',filename='ind3.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    

   
        <div class="container">
            <h1>ಸಾಲದು ಭಕ್ತಿ</h1>
    <form action="/Krishna6">
        <input type="submit" id="Krishna"  name="Krishna" action="/Krishna6" value="ಶರಣಾಗು">
       </form>
    </div>

    
       
</body>

</html>
   