<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>'ಕಂಡ ದೇವ್ರು'</title>
    <link rel="stylesheet" href="{{url_for('static',filename='final.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    
    <h1 style="color:aliceblue">ಕೃಷ್ಣ: ನನ್ನ ಜಗದಲ್ಲಿ ಜನ್ಮವೆತ್ತಿರುವ </h1>
    <h2 style="color:aliceblue">ನಿನಗೆ ಜನುಮ ದಿನದ ಶುಭಾಶಯಗಳು </h2>
    

    <form action="/">
        <input type="submit" id="Krishna" title="ಗೋವಿಂದ" name="Krishna" action="/" value="🙏">
       </form>
       
</body>

</html>
   