<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>'website of ದೇವ್ರು'</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    

    <div class="button-container">
        
    <form action="/Krishna1">
        <input type="submit" id="Krishna" title="ask question to krishna" name="Krishna" action="/Krishna1" value="ಪ್ರಶ್ನೆ ಕೇಳು">
       </form>

    <form action="/Krishna2">
        <input type="submit" id="Krishna" title="krishna will ask questions to you & try to answer" name="Krishna" action="/Krishna1" value="ಉತ್ತರಿಸು">
     </form>
    </div>
       
</body>

</html>
   